
### 2. Assignment 2 (900 points):
- Look at this sample file: sample.py Preview the documentYou are to write such examples, where you describe the code to be written (starts with #), and the code it should generate. The file shows 3 examples of what text should generate what code. 
- write 100 such examples. These are the requirements:
    - if you want the code to print something, then mention "print" in the text
    - read the sample.py clearly to see the examples and learn from it. If you want the code to write a program, you are NOT  asking to write a function. If you want a function, please mention it. 
    - run the code in the terminal/notebook and make sure it runs!
     - you cannot write more than 5 simple functions like add 2/3/4/5 numbers or divide, etc. Try and think of something tough, for example, add a list or tuple together. 
    - stick to python only (no 3rd party library like numpy, etc)
    - here are some examples:
        - provide the length of list, dict, tuple, etc
        - write a function to sort a list
        - write a function to test the time it takes to run a function
        - write a program to remove stop words from a sentence provided,
        - etc
- This assignment is of 900 marks. Each example if 9 marks. If your example is similar to someone else, then you score less. The formula we will use is 9/(repeated example). That means if 9 people write same example, then you get only 
    - 1. So think different! (if examples are mentioned here and in the sample file, you will score less)
- 3. Once done, please upload the file to github and share another link on the LMS

53 python code snippet

In [52]:
# Create an python empty list. Extend 4 strings list  to the list. Then pop one item off the end
# of the list.print the append and last list after pop

import random

empty = []
strings = ["Epai","is","awesome","thanks"]
empty.extend(strings)
print(empty)
empty.pop(random.randint(0,len(empty)-1))
print(empty)

['Epai', 'is', 'awesome', 'thanks']
['Epai', 'is', 'thanks']

In [53]:
# Use the python 'for' statement to print the items in a list , construct the list with list comprehension

list_ = [num for num in range(5,16)]
for num in list_:
    print(num)

5
6
7
8
9
10
11
12
13
14
15

In [54]:
#  Use the python string join operation to concatenate the items in a list.

list_ = ["Epai","is","awesome","thanks"]
" ".join(list_)

'Epai is awesome thanks'

In [55]:
# construct a python string containing single and double qoute, print the string

string = ' "Epai" is \'awesome\', thanks'
print(string)

 "Epai" is 'awesome', thanks

In [56]:
# In python, Use the string join operation to create a string that contains a colon as a separator.

strings = ["Epai","is","awesome","thanks"]
":".join(strings)

'Epai:is:awesome:thanks'

In [57]:
#  In python,Use printf to produce a string containing your last and first names,separated by a comma

first = 'Mutum'
last = 'Ema'

print(f'My first and last name is {first} {last}')

My first and last name is Mutum Ema

In [58]:
# Write a python literal that defines a dictionary using both string literals and variables
# containing strings . Print the dictionary

first = 'Mutum'
last = 'Ema'

dct = {first:last , "Tom":"Mendes"}

print(dct)

{'Mutum': 'Ema', 'Tom': 'Mendes'}

In [59]:
# Write python statements that iterate over keys, values, and  items in a dictionary.

dct = {first:last , "Tom":"Mendes"}

for key in dct.keys():
    print(key)
    
for val in dct.values():
    print(val)    
    
for key,val in dct.items():
    print(key,val)

Mutum
Tom
Ema
Mendes
Mutum Ema
Tom Mendes

In [60]:
# write python statement to create dictionary from two list using list comprehension . print the dictionary

objects = ['blue', 'apple', 'dog']
categories = ['color', 'fruit', 'pet']
a_dict = {key: value for key, value in zip(categories, objects)}
print(a_dict)

{'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}

In [61]:
# write python functioin to create dictionary from two list using list comprehension .

def dic_list(a,b):
    return { key:value for key,value in zip(a,b)}

In [62]:
# Write a python list comprehension that returns all the keys in a dictionary whose associated values are greater than zero.
# print the result

list_ = {key:val for key,val in zip(range(70),range(-20,50))}

result = [key for key,val in list_.items() if val > 0]
print(result)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69]

In [63]:
#  Write a python function that returns all the keys in a dictionary whose associated values are greater than zero.

def non_zero_value(x):
    return [key for key,val in x.items() if val > 0]

In [64]:
# Write a python list comprehension that produces even integers from 0 to 10. 
# print the result

result = [x for x in range(0,11) if x%2==0]
print(result)

[0, 2, 4, 6, 8, 10]

In [65]:
# Write a python function that produces even integers from 0 to 10.

def even_num_untill_10():
    return [y for y in range(11) if y%2 == 0]

In [66]:
# Write a pyton list comprehension that iterates over two lists and produces all the
# combinations of items from the lists.print the combination

list_1 = list(range(3))
list_2 = list(range(4))

result = [(x,y) for x  in list_1 for y in list_2]
print(result)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [67]:
# Write a pyton function that iterates over two lists and produces all the
# combinations of items from the lists

def combination(x,y):
    return [(a,b) for a in x for b in y]

In [68]:
# Write a python statement to strip all the whitespace characters off the right end of a string.
# print the len

strings = 'Write a python statement to strip all the whitespace  \n'
print(len(strings))
result = strings.rstrip()
print(len(result))

55
52

In [69]:
# Write a python functioin to strip all the whitespace characters off the right end of a string.

def rstrip_str(x):
    return x.rstrip()

In [70]:
# Wire a python statement to center a short string within a longer string, that is, pad a short string with blank
# characters on both right and left to center it.

name = 'Mutum'
name.center(10)

'  Mutum   '

In [71]:
# Write a python function to center a short string within a longer string, that is, pad a short string with blank
# characters on both right and left to center it.

def center_str(x,length = None):
    
    if length:
        return x.center(lenght)
    else:
        return x.center(0)

In [72]:
# write a python function to Split a string into a list of "words".

def split_str(x , sep = " "):
    return x.split(sep=sep)

In [73]:
# write a python statement counting number of  None in a list

a = [11, None, 'abc', None, {}]
sum([x== None for x in a])

2

In [74]:
#  write a python function for counting number of  None in a list

def none_count(x):
    return sum([y==None for y in x])

In [75]:
# write a python statement a list of integers. Use a for: statement to print out each integer in the list.


a = [11, 22, 33, ]

for val in a:
    if type(val)== int:
        print(val)

11
22
33

In [76]:
# write a python function a list of integers. Use a for: statement to print out each integer in the list.

def find_int(x):
    return [y for y in x if type(y)== int]

In [77]:
# write a python statement to find sum of all the integers from 0 to 99999.

sum([x for x in range(10000)])

49995000

In [78]:
# write a python function to find sum of all the integers from 0 to 99999.

def sum_10k():
    return sum([x for x in range(10000)])

In [79]:
# write a python function to find lenght of any object given in the arguments

def len_list(*args):
    
    result = []

    for arg in args:
        result.append(len(arg))
        
    return result

In [80]:
len_list([1, 2, 3, 4, 5],(100, 200, 300, 400, 500))

[5, 5]

In [81]:
# Write a python function with  for: loop that takes a list of integers and print triples each integer that is even.
# Use the continue statement


def triple( x ):
    numbers = x 
    print ('before: %s' % (numbers, ))
    
    for idx, item in enumerate(numbers):
        if item % 2 != 0:
            continue
    numbers[idx] *= 3
    print('after: %s' % (numbers, ))

triple([11, 22, 33, 44, 55, 66, ])

before: [11, 22, 33, 44, 55, 66]
after: [11, 22, 33, 44, 55, 198]

In [82]:
# Write a python function that takes a list of integers and computes the sum of all the integers
# up until a zero is found in the list.


def sum_util_zero(x):
    
    total = 0
    
    for num in x :
        if num == 0:
            break
        else:
            total += num
    return total

In [83]:
sum_util_zero([11, 22, 0, 44, 55, 66, ])

33

In [87]:
# Write a python function which can compute the factorial of a given numbers.
# The results should be printed in a comma-separated sequence on a single line.

def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

In [86]:
fact(3)

6

In [94]:
# With a given integral number n, write a python program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). 
# and then the program should print the dictionary.

raw_input = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

n=int(3)
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

{1: 1, 2: 4, 3: 9}

In [102]:
# Write a python statement to merge one set into another set, print the result

objects = set(['Mars', 'Jupiter', 'Saturn'])
internal = set(['Mercury', 'Venus', 'Earth', 'Mars'])
objects.update(internal)

print(objects)

{'Mars', 'Jupiter', 'Earth', 'Mercury', 'Saturn', 'Venus'}

In [106]:
# Write a python regex that find the first group of digits in text . print the findings

import re

line = 'There is a phone number 12345 in this row and an age: 23'
match = re.search(r'\d+', line)
if match :
    print(match.group(0))

12345

In [108]:
# Write a python regex that find all the digits in text . print the findings

import re

line = 'There is a phone number 12345 in this row and an age: 23'
match = re.findall(r'\d+', line)
print(match)

['12345', '23']

In [111]:
# Write a python regex that find all the digits in text and its preceeding words . print the findings

line = 'There is a phone number 12345 in this row and another 42 number'
matches = re.findall(r'(\w+) (\d+)', line)
print(matches)

[('number', '12345'), ('another', '42')]

In [112]:
# Write a python regex that double whatever the number including in a tex . print the findings

text = "This is 1 string with 3 numbers: 34"
new_text = re.sub(r'(\d+)', r'\1\1', text)
print(new_text)

This is 11 string with 33 numbers: 3434

In [114]:
# Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.

def func_compute(n):
    return lambda x : x * n

result = func_compute(2)

print("Double the number of 15 =", result(15))

Double the number of 15 = 30

In [116]:
# Write a Python program to sort a list of tuples using Lambda . Print the result

subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

subject_marks.sort(key = lambda x: x[1])

print(subject_marks)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [117]:
#  Write a Python program to sort a list of dictionaries using Lambda.  Print the result

models = [{'make':'Nokia', 'model':216, 'color':'Black'}, {'make':'Mi Max', 'model':'2', 'color':'Gold'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]

sorted_models = sorted(models, key = lambda x: x['color'])

print(sorted_models)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [119]:
#  Write a Python program to filter even or odd from a list of integers using Lambda.  Print the result

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)

odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [121]:
# Write a Python program to extract year, month, date and time using Lambda.  Print the result

import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2020-12-17 13:11:10.606481
2020
12
17
13:11:10.606481

In [122]:
# Write a Python program to check whether a given string is number or not using Lambda  Print the result

is_num = lambda q: q.replace('.','',1).isdigit()
print(is_num('26587'))
print(is_num('4.2365'))
print(is_num('-12547'))
print(is_num('00'))
print(is_num('A001'))
print(is_num('001'))
print("\nPrint checking numbers:")
is_num1 = lambda r: is_num(r[1:]) if r[0]=='-' else is_num(r)
print(is_num1('-16.4'))
print(is_num1('-24587.11'))

True
True
False
True
False
True

Print checking numbers:
True
True

In [123]:
# Write a Python program to create Fibonacci series upto n using Lambda. Print the result

from functools import reduce
 
fib_series = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]],
                                range(n-2), [0, 1])
 
print("Fibonacci series upto 2:")
print(fib_series(2))

Fibonacci series upto 2:
[0, 1]

In [124]:
# Write a Python program to find intersection of two given arrays using Lambda.Print the result

array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]
print("Original arrays:")
print(array_nums1)
print(array_nums2)
result = list(filter(lambda x: x in array_nums1, array_nums2)) 
print ("\nIntersection of the said arrays: ",result)

Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
[1, 2, 4, 8, 9]

Intersection of the said arrays:  [1, 2, 8, 9]

In [125]:
# Write a Python program to rearrange positive and negative numbers in a given array using Lambda.Print the result
array_nums = [-1, 2, -3, 5, 7, 8, 9, -10]
print("Original arrays:")
print(array_nums)
result = sorted(array_nums, key = lambda i: 0 if i == 0 else -1 / i)
print("\nRearrange positive and negative numbers of the said array:")
print(result)

Original arrays:
[-1, 2, -3, 5, 7, 8, 9, -10]

Rearrange positive and negative numbers of the said array:
[2, 5, 7, 8, 9, -10, -3, -1]

In [126]:
# Write a Python program to count the even, odd numbers in a given array of integers using Lambda. Print the result

array_nums = [1, 2, 3, 5, 7, 8, 9, 10]
print("Original arrays:")
print(array_nums)
odd_ctr = len(list(filter(lambda x: (x%2 != 0) , array_nums)))
even_ctr = len(list(filter(lambda x: (x%2 == 0) , array_nums)))
print("\nNumber of even numbers in the above array: ", even_ctr)
print("\nNumber of odd numbers in the above array: ", odd_ctr)

Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]

Number of even numbers in the above array:  3

Number of odd numbers in the above array:  5

In [129]:
# Write a Python function to sort a given list of strings(numbers) numerically using lambda. Print an example

def sort_numeric_strings(nums_str):
    result = sorted(nums_str, key=lambda el: int(el))
    return result

nums_str = ['4','12','45','7','0','100','200','-12','-500']
print("Original list:")
print(nums_str)
print("\nSort the said list of strings(numbers) numerically:")
print(sort_numeric_strings(nums_str))

Original list:
['4', '12', '45', '7', '0', '100', '200', '-12', '-500']

Sort the said list of strings(numbers) numerically:
['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

In [130]:
#  Write a Python program to count the occurrences of the items in a given list using lambda. Print an example

def count_occurrences(nums):
    result = dict(map(lambda el  : (el, list(nums).count(el)), nums))
    return result

nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
print("Original list:")
print(nums)
print("\nCount the occurrences of the items in the said list:")
print(count_occurrences(nums))

Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}